<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <h4>Show</h4>
        <p>First Name: <%= @user.first_name %> </p>
    </div>
</div>
<h4>All the songs in our hub:</h4>
<table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Count</th>
        <th>Likes</th>
    </tr>
    <% @song.each do |song| %>
    <tr>
        <td><%= song.artist %></td>
        <td><a href="song<%= song.id %>"><%= song.title %></a></td>
        <td><%= song.count %></td>
        <td>
            <form action="songs_path<%= song.id %>" method="post">
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type="submit" value="Add">
            </form>
        </td>
    </tr>
    <% end %>

</table>

<h4>Add a song</h4>
<form action="songs_path<%= song.id %>" method="post">
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<p><label for="song_title">Title: </label>
	<input type="text" id="song_title" name="song[title]"></p>
	<p><label for="song_artist">Artist: </label>
	<input type="text" id="song_artist" name="song[artist]"></p>
	<p><input type="submit" value="Add Title"></p>
</form>


