<a href="/users/<%= session[:user_id] %>">Dashboard</a>

<h2>Others who added <%= @song.song %> - <%= @song.artist %></h2>

<% @song.each do |song| %>
	<p><a href="songs_path<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></p>
<% end %>